@model lab_5_6.Models.Flower

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить новый товар</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2"> название товара:</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="control-label col-md-2">Цена товара:</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="control-label col-md-2">Реквизиты для  заказа товара:</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.rekvezits, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rekvezits, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "DetailsFlower")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
