@model lab_5_6.Models.Order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вы действительно хотите удалить этот заказ?</h2>

<div>
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.Flower)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Checkman)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Stok)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dd>
    @Html.DisplayFor(model => model.volume)
</dd>
        <dd>
    @Html.DisplayFor(model => model.oplata)
</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    <h4>


    </h4>
        @Html.ActionLink("Назад", "Index")
    
    }
    
</div>
