@model lab_5_6.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Flower)</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">        

        <dd>
            
            @Html.DisplayNameFor(model => model.Checkman)
            
            @Html.DisplayFor(model => model.Checkman)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.Stok)
            @Html.DisplayFor(model => model.Stok)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.date)
            @Html.DisplayFor(model => model.date)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.volume)
            @Html.DisplayFor(model => model.volume)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.status)
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>

<div>
    <h2>Админстратор</h2>
    <p>
        @Html.ActionLink("Редактировать заказ", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Изменить статус заказа", "Edit3", new { id = Model.Id }) |
        @Html.ActionLink("Удалить заказ", "Delete", new { id = Model.Id }) |
        <hr />
</div>
<div>
    <h2>Менеджер</h2>
    @Html.ActionLink("Оплатить товар", "Edit1", new { id = Model.Id }) |
    @Html.ActionLink("Проверка заказа", "Edit2", new { id = Model.Id }) |

    @Html.ActionLink("Назад", "Index")
    </p>
</div>
