@model IEnumerable<lab_5_6.Models.Flower>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список товаров </h2>

<table class="table">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rekvezits)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink((item.Name), "DeleteFlower", new { Name = item.Name})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rekvezits)
            </td>
        </tr>
    }

</table>


<p>
    @Html.ActionLink("Добавить товар", "CreateFlower")
</p>
<p>
  
    @Html.ActionLink("Назад", "Index")
</p>
