@model lab_5_6.Models.Order

@{
    ViewBag.Title = "Оплата товара";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Оплата выбранного заказа</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <h4>Для оплаты перейдите по ссылке</h4>
        <a href="https://online.sberbank.ru/CSAFront/index.do"> Оплата сбербанком</a>
        <hr />
        <h4>Оставьте комментарий подтверждающий оплату</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        
        @Html.DropDownListFor(model => model.status, new List<SelectListItem>
               {
                        new SelectListItem() {Text = "Оплачено", Value="paid"},
                        new SelectListItem() {Text = "Не оплачено. Ошибка.", Value="not paid"},
                     
               }
               )

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
